{% extends "../internal/layout.html" %} {% block content_header%}
<h1>Users</h1> {% endblock %} {% block breadcrumb%}
<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
<li class="active">users</li>
{% endblock %} {% block menu %} {% include "../internal/layout/menu.html" with page="users" %} {% endblock %} {% block content%} {% verbatim %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Users</h3>
        <div class="box-tools">
            <form method="get" action="/users/">
                <div class="input-group input-group-sm" style="width: 250px;">
                    <input type="text" name="q" value="{{ query }}" class="form-control pull-right" placeholder="Search">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th width="50px">#</th>
                    <th>user name</th>
                    <th>login</th>
                    <th>email</th>
                    <th width="210px">created at</th>
                    <th width="210px">updated at</th>
                    {% if CurrentUser.IsSuperuser %}
                    <th width="150px">-</th>
                    {% endif %}
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.ID }}</td>
                    <td>{{ user.Name }}</td>
                    <td>{{ user.Login }}</td>
                    <td>{{ user.Email }}</td>
                    <td>{{ user.CreatedAt | time:"Mon, 02 Jan 2006 15:04:05 -0700" }}</td>
                    <td>{{ user.UpdatedAt | time:"Mon, 02 Jan 2006 15:04:05 -0700" }}</td>
                    {% if CurrentUser.IsSuperuser %}
                    <td>
                        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>edit</a>
                        <a href="#" data-toggle="modal" data-target="#confirmAction" data-action="/users/delete/{{ user.ID }}/"><i class="fa fa-trash" aria-hidden="true"></i>delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        {% if CurrentUser.IsSuperuser %}
        <button type="submit" data-toggle="modal" data-target="#addUser" class="btn btn-primary">Add user</button>
        {% endif %} {% endverbatim %} {% include "../internal/pagination.html" %}
    </div>
    {% verbatim %} {% if CurrentUser.IsSuperuser %}
    <div class="modal fade" id="addUser" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add user</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="control-label">user name:</label>
                        <input type="text" name="user_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">email:</label>
                        <input type="email" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">login:</label>
                        <input type="text" name="login" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">password:</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" name="is_superuser"> superuser</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                    <button type="submit" class="btn btn-primary">add</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% endverbatim %}
</div>
{% endblock %}
