{% extends "../internal/layout.html" %} {% block content_header%}
<h1>Builds</h1> {% endblock %}
    {% block breadcrumb%}
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        {% verbatim %}
        <li><a href="/project/{{ build.ProjectID}}/builds/">{{ build.ProjectName}}</a></li>
        <li class="active">{{ build.CommitSHA }}</li>
        {% endverbatim %}
    {% endblock %} {% block content%} {% verbatim %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Commit {{ build.CommitSHA }}</h3>
            <div class="box-tools">{{ build.CreatedAt | time:"Mon, 02 Jan 2006 15:04:05 -0700"}}</div>
        </div>
        <div class="box-body">
            <strong>Status: </strong> 
            {% if build.Status == "success" %}
            <span class="label label-success">
            {% elif build.Status == "pending" %}
            <span class="label label-warning">
            {% elif build.Status == "failed" %}
            <span class="label label-danger">
            {% else %}
            <span class="label label-primary">
            {% endif %}
            {{ build.Status }}</span>

            <br>
            <strong>Branch:</strong> <a href="/project/{{ build.ProjectID }}/builds/branch/{{ build.BranchID }}/">{{ build.Branch }}</a><br>
            <strong>Author:</strong> {{ build.AuthorName }} ({{ build.AuthorEmail }})<br>
            {% if build.AuthorName != build.CommitterName %}<br>
                <strong>Commiter:</strong> {{ build.CommitterName }} ({{ build.CommitterEmail }})<br>
            {% endif %}
            <strong>Commited:</strong> {{ build.CommittedAt | time:"Mon, 02 Jan 2006 15:04:05 -0700"}}<br>
            <strong>Message:</strong>
        <pre>{{ build.CommitMessage }}</pre>
    </div>
</div>

{% if !(build.Status == "failed" or build.Status == "success") %}
<script type="text/javascript">
    setTimeout(function() { location.reload(true); }, 10000);
</script>
{% endif %}

{% if build.Error %}
<div class="box box-danger box-solid">
    <div class="box-header">
        <h3 class="box-title">Error</h3>
    </div>
    <div class="box-body">
    <pre>{{ build.Error }}</pre>
</div>
</div>
{% endif %}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Config</h3>
    </div>
    <div class="box-body">
    <pre>{{ build.Config }}</pre>
</div>
</div>

{% for part in build.Parts %}
<div class="box collapsed-box{% if !part.Success %} box-danger box-solid{% endif %}">
    <div class="box-header">
        <h3 class="box-title">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
        Image: {{ part.Image}}. {% if part.Version %} Server version: {{ part.Version }} {% endif %}
        </h3>
        <div class="box-tools">
        <strong>Duration:</strong> {{ part.FinishedAt | duration:part.StartedAt }}
        </div>
    </div>
    <div class="box-body" style="display: none;">
        <strong>Output:</strong>
    <pre>{{ part.Output }}</pre>

    {% if part.Tests %}
    <table class="table table-striped" id="tests_{{ forloop.Counter }}">
        <thead>
            <tr>
                <th>Function</th>
                <th width="110px">Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for test in part.Tests %}
                <tr>
                    <td>
                        
                        {% if test.Errors %}
                            <span class="label label-danger">{{ test.Function }}</span><br>
                            {% for error in test.Errors %}
                                {{ error.Message }} {{ error.Comment }} <br>
                            {% endfor %}
                        {% else %}
                            {{ test.Function }}
                        {% endif %}
                    </td>
                    <td>{{ test.Duration | floatformat:4 }}s</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if part.TestsLen() > 50 %}
    <script>$('#tests_{{ forloop.Counter }}').DataTable({'pageLength':50, 'lengthChange': false});</script>
    {% endif %}
    {% endif %}
</div>
</div>
{% endfor %}
{% endverbatim %} {% endblock %}