<header class="main-header">
    <a href="/" class="logo">
        <span class="logo-mini"><b>P</b>CI</span>
        <span class="logo-lg"><b>Postgres</b>-CI</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% verbatim %}{{ CurrentUser.Name }} {% endverbatim %} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-target="#changeNotificationsSettings">Change notifications settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-toggle="modal" data-target="#changePassword">Change password</a></li>
                    </ul>
                </li>
                <li><a href="/logout/"><i class="fa fa-sign-out"></i></a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form method="post" action="/password/change/">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change password</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="control-label">current password:</label>
                        <input type="password" name="current_password" data-title="Please enter your current password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">new password:</label>
                        <input type="password" name="new_password" data-title="Please enter a password" id="new_password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">confirm password:</label>
                        <input type="password" name="confirm_password" data-title="Please confirm a password" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                    <button type="submit" class="btn btn-primary">change</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="changeNotificationsSettings" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form method="post" action="/notifications/update-method/">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change notifications settings</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-btn">
                        <select class="btn btn-default dropdown-toggle" style="height: 34px" name="method">
                            <option value="none">none</option>
                            <option value="none">email</option>
                            <option value="none">telegram</option>
                        </select>
                        </div>
                        <input type="text" name="identifier" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                    <button type="submit" class="btn btn-primary">change</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% verbatim %}
{% if CurrentUser.IsSuperuser %}
<div class="modal fade" id="systemSettings" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form method="post" action="/system/update-settings/">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">System settings</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="control-label">app host:</label>
                        <input type="text" name="app_host" data-title="Field is required" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">smtp address:</label>
                        <input type="text" name="smtp_address" placeholder="host:port" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">smtp username:</label>
                        <input type="text" name="smtp_username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">smtp password:</label>
                        <input type="password" name="smtp_password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">telegram token:</label>
                        <input type="text" name="telegram_token" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                    <button type="submit" class="btn btn-primary">save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endverbatim %}
