<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li{% if page == "dashboard"%} class="active" {% endif %}>
            	<a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
            </li>
            <li{% if page == "users"%} class="active" {% endif %}>
            	<a href="/users/"><i class="fa fa-users"></i> <span>Users</span></a>
            </li>
            {% verbatim %}
            {% if CurrentUser.IsSuperuser %}
            <li>
                <a href="#" data-toggle="modal" data-target="#systemSettings"><i class="fa fa-cogs"></i> <span>Settings</span></a>
            </li>
            {% endif %} 
            {% endverbatim %}
        </ul>
    </section>
</aside>
