{% extends "internal/layout.html" %} {% block content_header%}
<h1>Dashboard</h1> {% endblock %} {% block menu %} {% include "internal/layout/menu.html" with page="dashboard" %} {% endblock %} {% block content%} {% verbatim %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Projects</h3>
    </div>
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Project</th>
                    <th>Owner</th>
                    <th width="300px">Last build</th>
                    {% if CurrentUser.IsSuperuser %}
                    <th width="150px">-</th>
                    {% endif %}
                </tr>
                {% for item in items %}
                <tr>
                    <td>
                        <a href="/project-{{ item.ProjectID }}/builds/">{{ item.ProjectName }}</a>
                        <br> {{ item.ProjectToken }}
                    </td>
                    <td>
                        {{ item.UserName }}
                    </td>
                    <td>
                        {% if item.Status == "success" %}
                        <span class="label label-success">
                    {% elif item.Status == "pending" %}
                    <span class="label label-warning">
                    {% elif item.Status == "failed" %}
                    <span class="label label-danger">
                    {% else %}
                    <span class="label label-primary">
                    {% endif %}
                    {{ item.Status }}</span> {% if item.LastBuildID %} (
                        <a href="/project-{{ item.ProjectID }}/build-{{ item.LastBuildID }}/">{{ item.CommitSHA | truncatechars:15 }}</a>) {% if item.FinishedAt %} {{ item.FinishedAt | naturaltime }} {% else %} started at {{ item.StartedAt | naturaltime }} {% endif %} {% endif %}
                    </td>
                    {% if CurrentUser.IsSuperuser %}
                    <td>
                        <a href="#" 
                        data-toggle="modal" 
                        data-target="#projectForm" 
                        data-title="Edit project"
                        data-action="/project/update/{{ item.ProjectID }}/"
                        data-source="/project-{{ item.ProjectID }}/get/"
                        ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>edit</a>
                        <a href="#" data-toggle="modal" data-target="#confirmAction" data-action="/project/delete/{{ item.ProjectID }}/"><i class="fa fa-trash" aria-hidden="true"></i>delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if CurrentUser.IsSuperuser %}
    <div class="box-footer">
        <button 
        type="submit" 
        data-toggle="modal" 
        data-target="#projectForm" 
        data-action="/project/add/"
        data-title="Add project"
        data-source="/project/possible-owners/"
        class="btn btn-primary"
    >Add project</button>
    </div>
    {% endif %}
</div>
{% if CurrentUser.IsSuperuser %}
<div class="modal fade" id="projectForm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form method="post" action="">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">-</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="control-label">name:</label>
                        <input type="text" name="name" id="project_name" class="form-control" data-title="Please enter a project name" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">owner:</label>
                        <select class="form-control" id="select_users" name="owner_id">
                            <option value="{{ CurrentUser.ID }}">{{ CurrentUser.Name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">repository url</label>
                        <input type="text" name="url" id="repository_url" class="form-control" data-title="Please enter a repository url" required>
                    </div>
                    <div class="form-group">
                    <label for="message-text" class="control-label">github secret (if necessary)</label>
                    <input type="text" id="github_secret" name="github_secret" class="form-control">
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %} {% endverbatim %} {% endblock %}
