<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Postgres-CI</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="/"><b>Postgres</b>-CI</a>
            </div>
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>
                {% verbatim %}
                {% if error %}
                    {% if error == "INVALID_LOGIN_OR_PASSWORD" %}
                        <p class="login-box-msg">Invalid login or password</p>
                    {% else %}
                        <p class="login-box-msg">Internal server error</p>
                    {% endif %}
                {% endif %}
                {% endverbatim %}
            <form method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Login" name="login">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <a href="#">I forgot my password</a>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>    
</body>
</html>